<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification.css') }}">
</head>
<body>
    <div class="container">
        <h2 class="titre">Authentification</h2> <!-- Titre clairement séparé -->
        
        {% if error %}
            <p class="error">Identifiant ou mot de passe incorrect.</p>
        {% endif %}

        <form action="{{ url_for('authentification') }}" method="post">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Se connecter">
        </form>
    </div>
</body>
</html>
